.information {
	border: 1px solid #f8f8f8;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
}

.tokenWrapper {
	margin-top: 20px;
}

.token {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 6px;
	border: 1px solid #d3d3d3;
	padding: 15px;
}
